{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2017,
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
    },
    "extends": "eslint:recommended",
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "always",
                "objects": "always",
                "functions": "never",
            },
        ],
        "curly": [
            "error",
            "all",
        ],
        "eol-last": [
            "error",
            "always",
        ],
        "eqeqeq": [
            "error",
            "always",
        ],
        "indent": [
            "error",
            4,
            {
                "ignoreComments": true,
            },
        ],
        "no-tabs": [
            "error",
        ],
        "no-trailing-spaces": [
            "error",
        ],
        "no-var": [
            "error",
        ],
        "prefer-const": [
            "error",
        ],
        "quotes": [
            "error",
            "single",
        ],
        "require-await": [
            "error",
        ],
        "semi": [
            "error",
            "always",
        ],
        "wrap-iife": [
            "error",
            "inside",
        ],
        "yoda": [
            "error",
            "never",
        ],
    },
}
