{
    "root": true,
    "parserOptions": {
        "ecmaVersion": 2017,
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
    },
    "extends": "eslint:recommended",
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "always",
                "objects": "always",
                "functions": "never",
            },
        ],
        "indent": [
            "error",
            4,
            {
                "ignoreComments": true,
            },
        ],
        "quotes": [
            "error",
            "single",
        ],
        "semi": [
            "error",
            "always",
        ],
        "wrap-iife": [
            "error",
            "inside",
        ],
    },
}
